.grid{
    display: grid;
    align-items: center;
    text-align: center;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    //gap: 2px;
    grid-auto-flow: row;
}
