.grid{
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    //grid-template-rows: 2fr 2fr 2fr;
    gap: 2px;
    grid-auto-flow: row;
}
