//colors used from palette on lospec https://lospec.com/palette-list/garden18
$color-secondary: #d90429;
$color-primary: #ef233c;
$color-light: rgba( 107, 220, 170, 255);
$color-white: #edf2f4;
$color-dark: #2b2d42;